
    {% if prediction == "Pepper__bell___Bacterial_spot" %}
    {{ prediction }}
    While the best pepper plant fertilizer depends on soil condition and the gardener's preference, the top performer is Pepper & Herb Fertilizer 11-11-40 Plus Micro Nutrients.
    {% elif prediction == "Pepper__bell___healthy" %}
    {{ prediction }}
    Green Dews Pepper Glory: Organic liquid fertilizer spray and soil use for chilli capsicum pepper plants of all varieties like-Bhut Jolokia,Kashmiri Chillies,Guntur Chilli,jwala, kanthari,Byadagi, Ramnad mundu gundu,Dhani,Tomato chilli,Madras puri,Khola,Green bell pepper,Red bell ,pepper,Sweet pepper,Yellow capsicum,red capsicum,Shimla mirch etc.
    {% elif prediction == "Potato___Early_blight" %}
    {{ prediction }}
    Elixir Gardens :Elixir Gardens Spuds Galore All-in-one Blended NPK Fertiliser with added Magnesium & Sulphur.
        Magnesium which is a vital element for crop growth, has been added for an extra boost.
    {% elif prediction == "Potato___Alternaria" %}
    {{ prediction }}
    Elixir Gardens :Elixir Gardens Spuds Galore All-in-one Blended NPK Fertiliser with added Magnesium & Sulphur.
        Magnesium which is a vital element for crop growth, has been added for an extra boost.
    {% elif prediction == "Tomato_Bacterial_spot" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
       Slow release blend of natural and mineral organic ingredients; won't burn roots.
       Conditions soil for vigorous root growth and better water penetration
    {% elif prediction == "Tomato_Early_blight" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
 Slow release blend of natural and mineral organic ingredients; won't burn roots.
     Conditions soil for vigorous root growth and better water penetration
    {% elif prediction == "Tomato_Late_blight" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
    Slow release blend of natural and mineral organic ingredients; won't burn roots.
        Conditions soil for vigorous root growth and better water penetration
    {% elif prediction == "Tomato_Leaf_Mold" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
    Slow release blend of natural and mineral organic ingredients; won't burn roots.
        Conditions soil for vigorous root growth and better water penetration
    {% elif prediction == "Pepper__bell___Bacterial_spot" %}
    {{ prediction }}
    Veri-Green Weed & Feed Lawn: Jonathan Green Veri-Green Weed & Feed Lawn Fertilizer is a premium-grade herbicide and lawn fertilizer combination.
    This 2-in-1 product controls broadleaf weeds while fertilizing and greening up the lawn for up to 3 months.
      Save yourself time! Apply Weed and Feed and grow a lush green lawn all while killing over 250 broadleaf weeds down to the root including dandelions, chickweed, clover, wild onions, thistle, poison ivy, and more.
    {% elif prediction == "Tomato_Septoria_leaf_spot" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
    Slow release blend of natural and mineral organic ingredients; won't burn roots.
        Conditions soil for vigorous root growth and better water penetration
    {% elif prediction == "Tomato_Spider_mites_Two_spotted_spider_mite" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
    Slow release blend of natural and mineral organic ingredients; won't burn roots.
        Conditions soil for vigorous root growth and better water penetration

    {% elif prediction == "Tomato__Target_Spot" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
    Slow release blend of natural and mineral organic ingredients; won't burn roots.
        Conditions soil for vigorous root growth and better water penetration
    {% elif prediction == "Tomato__Tomato_YellowLeaf__Curl_Virus" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
    Slow release blend of natural and mineral organic ingredients; won't burn roots.
        Conditions soil for vigorous root growth and better water penetration
    {% elif prediction == "Tomato__Tomato_mosaic_virus" %}
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
    Slow release blend of natural and mineral organic ingredients; won't burn roots.
        Conditions soil for vigorous root growth and better water penetration
    {% elif prediction == "Tomato_healthy" %}   
    {{ prediction }}
    Gardener's Best®Organic Tomato :  Provides tomatoes with all necessary nutrients for big, abundant fruit.
    Slow release blend of natural and mineral organic ingredients; won't burn roots.
        Conditions soil for vigorous root growth and better water penetration


        {% else %}
    <h1>{{ prediction }}</h1>
    {% endif %}
  
